<script src="https://kit.fontawesome.com/015cfc4544.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Estilistas</li>
                    <li class="breadcrumb-item active">{{usuarioVO.id ? "Editar":"Agregar"}} Estilista</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card ml-3 mr-3">
        <mat-accordion>
            <mat-expansion-panel hideToggle [expanded]="expnade==1">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{usuarioVO.id ? "Editar":"Agregar"}} Estilista
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">

                    <div class="col-sm-12">
                        <div class="input-group has-validation input-container" kidsFashionFormError
                            [mtpFormError]="submitErrorMsg.nombre">
                            <input #nombre type="text" class="form-control" [value]="nombre.value.toUpperCase()" [(ngModel)]="usuarioVO.nombre">
                            <label>Nombre de Estilista</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="input-group has-validation input-container" kidsFashionFormError
                            [mtpFormError]="submitErrorMsg.usuario">
                            <input #usuario type="text" class="form-control" [value]="usuario.value.toUpperCase()" [(ngModel)]="usuarioVO.usuario">
                            <label>Usuario</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="input-group has-validation input-container" kidsFashionFormError
                            [mtpFormError]="submitErrorMsg.password">
                            <input #password type="text" class="form-control" [value]="password.value.toUpperCase()" [(ngModel)]="usuarioVO.password">
                            <label>Cambiar Contraseña</label>
                        </div>
                    </div>
                    <button (click)="guardarEstilistas()" type="submit" class="btn btn-primary ml-1">Guardar</button>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel [disabled]="!usuarioVO.id" [expanded]="expnade==2" >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Lista de Servicios
                    </mat-panel-title>
                    <mat-panel-description>
                        <sub class="text-info">(La lista de Servicios se
                            habilitara al guardar Estilista)</sub>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="card-header">
                    <h2 class="card-title">Lista de Servicios  </h2>

                    <div class="card-tools">

                        <div class="search-input mr-3">
                            <div class="input-group ">
                                <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>

                        <button (click)="showServiciosForm=true" type="button" class="btn btn-success">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                            <!-- Position Column -->
                            <!-- Position Column -->
                            <ng-container matColumnDef="no">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td *matCellDef="let element; let i = index" mat-cell>{{ paginator.pageIndex * paginator.pageSize + (i + 1) }}
                                </td>
                            </ng-container>
                            <!-- Name Column -->
                            <ng-container matColumnDef="servicio">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header>Servicio </th>
                                <td mat-cell *matCellDef="let element"> {{element.servicio.nombre}} </td>
                            </ng-container>


                            <!-- Symbol Column -->
                            <ng-container matColumnDef="opciones">
                                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                                <td mat-cell *matCellDef="let element">
                                    <div>
                                        <button (click)="editarServicio(element)" type="button" class="btn btn-info">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>

                                        <button (click)="eliminarServicio(element)" type="button" class="ml-1 btn btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Disclaimer column -->
                            <ng-container matColumnDef="disclaimer">
                                <td mat-footer-cell *matFooterCellDef [colSpan]="displayedColumns.length">
                                    <h3> No se encontraron datos.</h3>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-footer-row [ngClass]="{'d-none':dataSource.data.length}"
                                *matFooterRowDef="['disclaimer']">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 100]" [showFirstLastButtons]="true"
                    class="demo-paginator" aria-label="Select page">
                  </mat-paginator>
                </div>

                <div class="card-body" *ngIf="showServiciosForm">
                    <div class="row">
        
                        <div class="col-sm-12">
                            <div class="input-group has-validation input-container" kidsFashionFormError
                                [mtpFormError]="submitErrorMsg.nombre">
                                <select class="form-control"  [(ngModel)]="servicioVO.servicio">
                                    <option *ngFor="let servicio of servicioList" [value]="servicio.id" >{{servicio.nombre}}</option>
                                </select>
                                <label>Servicio</label>
                            </div>
                        </div>
    
                        <button type="submit" (click)="showServiciosForm=false;"
                            class="btn btn-danger ml-1">Cancelar</button>
                        <button type="submit" class="btn btn-primary ml-1" (click)="guardarServicio()">Guardar</button>
                    </div>
                </div>

            </mat-expansion-panel>

            <mat-expansion-panel hideToggle [disabled]="!usuarioVO.id" [expanded]="expnade==3">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                       Hoario Laboral
                    </mat-panel-title>
                    <mat-panel-description>
                        <sub class="text-info">(La lista de Servicios se
                            habilitara al guardar Estilista)</sub>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                        <button (click)="guardarHorarioDeTrabajo()" type="button" class="btn btn-primary">
                            Guardar
                        </button>
                    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                </div>
            </mat-expansion-panel>

        </mat-accordion>




    </div>
</section>